<%= @user.email %> here is schedule for next week
<% @events.each do|key, value| %>
    <div class="events">
        <h1><%= key %></h1>
        <% value.each do |event| %>
            <div class='event'>
                <div>
                    <span><%= event.start_time %></span>
                    -
                    <span><%= event.end_time %></span>
                </div>
                <div>
                    <span><%= event.summary %></span>
                </div>
                <div>
                    <span><%= link_to "More details", event.url %></span>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
